.search-bar-container{
    display: flex;
    padding: 1rem 4rem;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.search-bar-logo{
    width: 15%;
    text-align: center;
}
.search-bar-logo svg{
    width: 100%;
}
.search-bar-form{
    display: flex;
    flex-grow:2;
    position: relative;
}
.input-search{
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.6rem;
    background-color: transparent;
    color: whitesmoke;
    text-align: center;
}
.search-list{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.808);
    width: 100%;
    list-style: none;
    border-radius: 0 0 1rem 1rem;
    top: 2.5rem;
}

.search-list li{
    padding: 1rem;
    text-transform: capitalize;
    border-bottom: 2px solid rgba(255, 255, 255, 0.564);
}


@media screen and (max-width:550px) {
    .search-bar-container{
        padding: 2rem 1rem;
    }
    .search-bar-logo{
        width: 80% ;
    }
    .search-bar-form{
      width: 120%;
    }   
}