.search-bar-container{
    display: flex;
    padding: 2rem 4rem;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.search-bar-logo{
    width: 15%;
    text-align: center;
}
.search-bar-logo svg{
    width: 100%;
}
.search-bar-form{
    display: flex;
    flex-grow:2;
}
.input-search{
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.6rem;
    background-color: transparent;
    color: whitesmoke;
    text-align: center;
}

@media screen and (max-width:550px) {
    .search-bar-container{
        padding: 2rem 1rem;
    }
    .search-bar-logo{
        width: 100% ;
    }
    .search-bar-form{
      width: 110%;
    }
    
}